body {
    background-color: #333333;
}

nav .navbar-brand {
    font-size: xx-large;
}

nav .navbar-brand .indigo {
    color: #ffffff;
    font-family: "CustomFont", "Proxima Nova Alt Rg";
}

.setbutton {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: #5c44de;
    border-width: 2px;
    background-color: #222222;
    border-radius: 4px;
    width: 20%;
    text-align: center;
    margin-left: 40%;
    font-family: "CustomFont", "Proxima Nova Rg";

}

.navbar-brand {
    background-color: #222222;
}

.bg-dark2 {
    background-color: #222222;
}

.choice {
    padding: 9px;
}

.border2 {
    border-color: #5c44de;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
}

main .form-control {
    display: inline-block;
    width: auto;
}

main {
    overflow-x: auto;
    text-align: center;
}

main img {
    max-width: 100%;
}
