body {
    background-image: url("background.png");
    background-size: cover;
}

nav .navbar-brand {
    font-size: xx-large;
}

nav .navbar-brand .indigo {
    color: #ffffff;
    font-family: "CustomFont", "Proxima Nova Alt Rg";
}

.setbutton {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: #5c44de;
    border-width: 2px;
    background-color: #222222;
    border-radius: 4px;
    width: 20%;
    text-align: center;
    margin-left: 40%;
    font-family: "CustomFont", "Proxima Nova Rg";

}

.navbar-brand {
    background-color: #222222;
}

.bg-dark2 {
    background-color: #222222;
}

.choice {
    padding: 9px;
}

.border2 {
    border-color: #5c44de;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
}

main .form-control {
    display: inline-block;
    width: auto;
}

main {
    overflow-x: auto;
    text-align: center;
}

main img {
    max-width: 100%;
}

#homepageslogan{
    position: relative;
    height: 100px;
}

#image{
    height: 220px;
    width: 220px;
}

#imagespacing{
    height: 230px;
}

.roombutton{
  background-color: #5c44de;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.roombutton_hover:hover{
    box-shadow: 0 50px 50px 0 rgba(0,0,0,0.24),0 50px 100px 0 rgba(0,0,0,0.19);
}

.navitem:hover {
  background-color:#5c44de;
}

#heightchanger{
    height: 230px;
}