{% extends "layout.html" %}

{% block main %}
    <form action="/add" method="post">
        <div class="form-group">
            <input list="songlist" autocomplete="on" autofocus class="form-control" id="song" name="song" placeholder="Song name" type="text">
            <datalist style="background-color:grey;" class="dropdown" id="songlist"></datalist>
            <script>
                    // Execute on user search
                    document.getElementById("song").onkeyup = function(){

                        // Call python fucntion
                        $.get('/searchdropdown?song=' + song.value, function(songs){

                            // Empty old list
                            document.getElementById('songlist').innerHTML = '';

                            // Link datalist
                            var datalist = document.getElementById("songlist");
                            var songlist = [];

                            // Get first 5 songs
                            for(var n = 0; n < songs['songs'].length; n++){
                                songlist.push(songs['songs'][n]['track']);
                            };

                            // Insert first 5 into datalist
                            for(var i = 0; i < songlist.length; i++) {
                                var option = document.createElement("OPTION"),
                                track = document.createTextNode(songlist[i]);
                                option.appendChild(track);
                                option.setAttribute("value",songlist[i]);
                                datalist.insertBefore(option,datalist.lastChild);
                            }
                        });
                    };
            </script>
        </div>
        <button class="roombutton roombutton_hover" type="submit">Add song</button>
    </form>
{% endblock %}