{% extends "layout.html" %}
{% block main %}
<form action="/add" method="post">
   <div class="form-group">
      <input list="songlist" autocomplete="on" autofocus class="form-control" id="song" name="song" placeholder="Song name" type="text">
      <datalist id="songlist"></datalist>
      <script>
         $(document).ready(function(){
             document.getElementById("song").onkeyup = function(){
                 var datalist = document.getElementById("songlist");
                 var songlist = []
                 $.get('/searchdrpdwn?song=' + song.value, function(songs){
                     // var liedjes = songs.split(",")

                     // for(var n = 0; n < songs.length; n++){
                     //     window.alert(songs.length)
                     //     window.alert(songs)
                     //     songlist.push(songs[n]['track'], songs[n]['artist'])
                     // }
                 })
                 // window.alert(songlist)
                 for(var i = 0; i < songlist.length; i++) {
                     var option = document.createElement("OPTION"),
                     track = document.createTextNode(songlist[i]);
                     option.appendChild(track);
                     option.setAttribute("value",songlist[i]);
                     datalist.insertBefore(option,datalist.lastChild);
                  }
             }
         })

      </script>
   </div>
   <button class="btn btn-primary" type="submit">Add song</button>
</form>
<script type="text/javascript">
   //     var selectobject=document.getElementById("myselect")
   //     for (var i=0; i<selectobject.length; i++){
   //         alert(selectobject.options[i].text+" "+selectobject.options[i].value)
   //     }
   //
</script>
<script>
   // $(document).ready(function(){
   //     document.getElementById("song").onkeyup = function(){
   //         let songlist = '';
   //         $.get('/searchdrpdwn?song=' + song.value, function(data) {

   //             });
   //         document.querySelector('ul').innerHTML = songlist;
   //         };
   // });
</script>
{% endblock %}