{% extends "layout.html" %}

{% block main %}
    <form action="/connect2" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="usernamespotify" placeholder="username again" type="text">
        </div>
        <p> To connect your account open this link in a new tab: {{ URL }}
            Login to your spotify account and click 'Accept', you'll then get redirected to another page.
            Copy the link of this page. Then go back to the spotiwy website and click on 'Next'. On the next page paste the link
            In the text field and click on 'Connect'</p>
        <button class="btn btn-primary" type="submit">Next</button>
    </form>
{% endblock %}

