{% extends "layout.html" %}

   {% block main %}

      <h1 class="whitetext"> What is Spotiwy?</h1>
      <p class="helptext">
         &bull; By using Spotiwy you can either 'host' or 'join' a room.<br><br>
         &bull; If you host a room, you need to be connected to spotify.<br><br>
         &bull; When hosting, a playlist will be made on your Spotify account.<br><br>
         &bull; You can add numbers to the queue of your room by pressing the + button.<br><br>
         &bull; After the current song is almost finished, Spotiwy will move the highest liked song to your playlist.<br><br>
         &bull; You or your host will recieve a room number. You can share this roomnumber to let others join the room<br><br>
      </p>
      <form action="/" method="get">
         <button class="roombutton" value="Go to Homepage" type="submit">Homepage</button>
      </form>

   {% endblock %}