{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class= "whitetext">
       Your recent playlists
    </h1>
    <table style="width:100%">
        <tr class="whitetext">
            <th><b>Song</b></th>
            <th><b>Artist</b></th>
            <th><b>Duration</b></th>
        </tr>
            {% for track in songinfo %}
        <tr style="color:white;font-style:normal">
            <th>{{track["song"]}}</th>
            <th>{{track["artist"]}}</th>
            <th>{{track["duration"]}}</th>

        </tr>
            {% endfor %}

    </table>
{% endblock %}
