{% extends "layout.html" %}

{% block main %}
    <form action="/homepage" method="post">
        <div id="imagespacing"><img id="image" class="middle" src="static/icon.png"></div>
        <h1 id="homepageslogan" style="color:white;">
            Choose together, Listen better.
        </h1>
        <div style="color:red;">
            {{error}}
        </div>
        <div class="form-group">
            <input id = "roomnumber" size= "14" class="form-control" name="roomnumber" style="text-align: center" placeholder="room number" type="text">
        </div>
        <button class="roombutton roombutton_hover" type="submit">Join Room</button>
        <p style="color:white;">
            No room? <a href="/register"><b style="color:#5c44de;" >Create one!</b></a>
        </p>
    </form>
{% endblock %}