{% extends "layout.html" %}

{% block main %}
    <form action="/homepage" method="post">
        <img class="middle"src="static/icon.png">
        <h2>
            Choose together, listen better.
        </h2>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <p>
            Enter six digit room number below:
        </p>
        <div class="form-group">
            <input class="form-control" name="roomnumber" placeholder="Room number" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Join Room</button>

    </form>
{% endblock %}