{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1 class= "whitetext">
       Playlist room: {{roomnumber}}
    </h1>
    <div>
    <table style="width:100%;border-collapse: collapse;">
        <tr>
            <th><b>Song</b></th>
            <th><b>Artist</b></th>
            <th><b>Duration</b></th>
        </tr>
    {% for song in room_dict[roomnumber] %}
        <tr>
            <td>{{song['song']}}</th>
            <td>{{song['artist']}}</th>
            <td>{{song['duration']}}</th>
        </tr>
    {% endfor %}
    </table>
    </div>
    <style>
        tr:nth-child(even){background-color: grey}
        th{
          padding: 8px;
        }
        th{
          background-color: #5c44de;
          color: white;
        }
        td{
            color: white;
        }
        tr{
            background-color: #2e2d33

        }
    </style>

{% endblock %}
