{% extends "layout.html" %}

    {% block main %}

    <form action="/register" id="form" method="post">
        <p style="height: 80px;">
        </p>
        <div class="form-group">
        <input  onmouseover = "buttonreset()" autocomplete="off" id="username" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group" class="alert alert-warning alert-dismissible" id ="user_alert">
            <strong style="color:white;">Username already exists</strong>
        </div>
        <div class="form-group">
            <input onmouseover = "buttonreset()" class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input onmouseover = "buttonreset()" class="form-control"  id="confirmation" name="confirmation" placeholder="Confirm Password" onfocusout="check_passw()" type="password">
        </div>
        <div class="form-group" class="alert alert-warning alert-dismissible" id ="passw_alert">
            <strong style="color:white;">Password doesn't match</strong>
        </div>
        <text style="color:white;">
            accept
        </text>
        <input onmouseover = "buttonreset()" type="checkbox" id = "checkbox"name="T&C" value="T&C"> <a href="/terms"><b style="color:#5c44de;">terms & conditions</b></a>
        <br>
        <button class="roombutton roombutton_hover" id="submit" type="submit">Register</button>
    </form>
    <script>

    // Hide alerts and
    $("#user_alert").hide();
    $("#passw_alert").hide();
    document.getElementById("submit").disabled = true;

    // Live check and alert availability username
    $(document).ready(function(){
            document.getElementById("username").onkeyup = function(){
                $.get('/availability?username=' + username.value, function(data) {
                    if (data == false){
                        $('#user_alert').show();
                    }
                    else {
                        $('#user_alert').hide();
                        }
                    });
                };
    });

   // Check and alert if passwords are identical
    function check_passw() {
            if (document.getElementById("password").value != document.getElementById("confirmation").value){
                $("#passw_alert").show();
            }
            else {
                $("#passw_alert").hide();
            };
    };

    // Enable submit button
    function buttonreset() {
            document.getElementById("submit").disabled = false;
    }

    // Lock submit for invalid input
    document.getElementById("submit").onmouseover = function() {checklogin()}
    function checklogin() {
        $.get('/usernamecheck?username=' + username.value, function(data) {
            if ((data == true) || (document.getElementById('checkbox').checked == false)|| (document.getElementById("password").value != document.getElementById("confirmation").value)){
                            document.getElementById("submit").disabled = true;
            }
        });
    }

    </script>

    {% endblock %}