{% extends "layout.html" %}

   {% block main %}

      {% if session.admin %}

         <form action="/disband" method="post">
            <div class="leftbar">
               <p>Room number: {{roomnumber}}</p>
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <button class="roombutton roombutton_hover" type="submit">Disband room</button>
            </div>
         </form>

      {% else %}

         <form action="/" method="post">
            <div class="leftbar">
               <p>Room number: {{roomnumber}}</p>
               <br><br><br><br><br><br><br><br><br><br><br><br>
               <button class="roombutton roombutton_hover" type="submit">Leave room</button>
            </div>
         </form>

      {% endif %}

         <table id="playlist" class="playlist">
            <tr>
               <th><b>Song</b></th>
               <th><b>Artist</b></th>
               <th><b>Duration</b></th>
               <!--<th><b>likebutton</b></th>-->
               <!--<th><b>likes</b></th>-->
               <!--<th><b>bin</b></th>-->
            </tr>

      {% for element in playlist %}

            <tr class="tablerow"  id="{{element['songid']}}" height="50px">
               <td class="tableitem">{{element["song"]}}</td>
               <td class="tableitem">{{element["artist"]}}</td>
               <td class="tableitem">{{element["duration"]}}</td>
               <td class="tableitem" style="text-align:right;width:30px;"><img onclick="like('{{element['songid']}}')" width="30px" height="30px" src="static/like.png" onmouseover="this.src='static/liked.png';" onmouseout="this.src='static/like.png';"></td>
               <td class="tableitem" id="{{element['songid']}}">{{element["likes"]}}</td>

         <!--{% if session.admin %}-->

               <td  onclick="removesong('{{element['songid']}}')" class="tableitem"><a><img value="delete" width="30px" height="30px" src="static/bin.png" onmouseover="this.src='static/binned.png';" onmouseout="this.src='static/bin.png';" ></a></td>

         <!--{% endif %}-->

            </tr>

      {% endfor %}
      </table>
      <script>
            function like(songid) {
            //    $.get('/like' ,{'songid' : songid}, function(newlikes) {
            //       document.getElementById(songid).innerHTML = newlikes['likes'];
            // });
            }

            function removesong(songid){
               var element = document.getElementById(songid);
               element.parentNode.removeChild(element);
               $.get('/bin' ,{'binned' : songid}, function(newlikes) {
               });
            };
      </script>
      <form action="/add" method="get">
         <button class="addbutton roombutton_hover" type="submit">add song to playlist  <img src="static/add.png" width="30px" height="30px"></button>
      </form>


   {% endblock %}