{% extends "layout.html" %}

{% block main %}

    {% if session.admin %}

        <form action="/disband" method="post">
            <div class="leftbar">
                <p>Room number: {{roomnumber}}</p>
                <button>Disband room</button>
            </div>
        </form>

    {% else %}

        <form action="/" method="post">
            <div class="leftbar">
                <p>Room number: {{roomnumber}}</p>
                <button>Leave room</button>
            </div>
        </form>

    {% endif %}

        <div class="playlist">
            {% for element in playlist %}

            <p>Song: {{element["song"]}}</p>
            <p>Artist: {{element["artist"]}}</p>

            <div class="rightbar">
                <a href="/like"><img src="like.png"></a>
                <p>{{likes}}</p>

                {% if session.admin %}
                    <a href="/bin"><img src=" --prullenbak-- "></a>
                {% endif %}

            </div>

            {% endfor %}

                <p>Add song to playlist</p>

                <div class="rightbar">
                    <a href="/add"><img src="static/add.png" width="30px" height="30px"></a>
                </div>

        </div>

{% endblock %}